{% extends 'base.html' %}

{% block head %}
<title>My Simple Search Engine</title>
<link rel="stylesheet" href="/static/style.css" /> 
{% endblock %}

{% block body %}
<div style="margin-top:65px">
    <h1>My Simple Search Engine</h1>

    <form action = "/" method ="POST">
    <div style="max-width:800px;margin-top:30px;margin-left:350px;padding-bottom: 40px;">
        <input type="text" style="text-align: center" class="w3-input w3-border" placeholder="Masukkan pencarian" name= "query" />
    </div>  
  </form>

  <div style="padding-top: 10px;">
  {% for file in data  %}
        <a href="{{ url_for('daftar') }}" style="margin-left: 15px">
          {{file[0]}} 
        </a>
        <p> Jumlah Kata : {{file[1]}} </p>
        <p> Tingkat Kemiripan : {{file[2]}} % </p>
        <p style="padding-bottom: 20px;"> {{file[3]}} </p>
  </div> 
  {% endfor %}

  <p style="padding-top: 20px;font-size: 120%;"> <b>Tabel Frekuensi</b> </p>
  <table class="table" style="padding: 10px;">
    {% for row in tab %}
    <tr class="table_row">  
      {% for cell in row %}
      <td class ="table_cell" style="text-align: center;">{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>

    </tr>
  </table>

</div>
{% endblock %}