{% extends 'base.html' %}

{% block head %}
<title>My Simple Search Engine</title>
{% endblock %}

{% block body %}
<div style="margin-top:65px">
    <h1>My Simple Search Engine</h1>

    <form action = "/" method ="POST">
    <div style="max-width:800px;margin-top:30px;margin-left:350px;padding-bottom: 40px;">
        <input type="text" style="text-align: center" class="w3-input w3-border" placeholder="Masukkan pencarian" name= "query" />
    </div>  
  </form>

  <div style="padding-top: 10px;">
  {% for file in data  %}
        <a href="{{ url_for('daftar') }}" style="margin-left: 15px">
          {{file[0]}} 
        </a>
        <p> Jumlah Kata : {{file[1]}} </p>
        <p> Tingkat Kemiripan : {{file[2]}} % </p>
        <p style="padding-bottom: 20px;"> {{file[3]}} </p>
  </div> 
  {% endfor %}

</div>
{% endblock %}