{% extends 'base.html' %}

{% block head %}
<title>Perihal</title>
{% endblock %}

{% block body %}
<div>
  <h1>Perihal</h1>
    <div>
      <h2>Search Engine</h2>
      <p> Menuju era 4.0, penggunaan search engine sudah menjadi keseharian masyarakat dalam mencari informasi-informasi yang ada di internet. Search Engine atau mesin pencari merupakan program pencarian informasi pada basis data berdasarkan kata kunci yang dimasukkan oleh pengguna.  Search Engine mengaplikasikan ruang vektor dalam algoritmanya. Penentuan dokumen yang relevan dengan query masukan pengguna didapat dengan rumus pengukuran kesamaan yang disebut cosine similarity. Hasil cosine similarity didapat dengan melakukan perkalian titik (dot product) dari vektor query dan dokumen dan dibagi dengan perkalian antara norma vektor query dan dokumen,lalu dirangkingkan dari nilai terbesar ke nilai terkecil. </p>
      <p style="text-align: center"><image src=static/picture/CosineSimilarity.jpg alt="Cosine Similarity"></image></p>
      <p> Beberapa contoh search engine : </p>
      <p style="text-align: center;">
        <image src=static/picture/yahoo.png alt="Yahoo" width = "200"></image>
        <image src=static/picture/bing.jpg alt="Bing" width = "200" style = "padding-left: 20px"></image>
        <image src=static/picture/google.jpg alt="Google" width = "200" style = "padding-left: 10px"></image>
      </p>
      <h2>How to Use</h2>
      <p> Klik klik ajaaa.</p>
      <h2>About Us</h2>    
      <p> Halo, perkenalkan kami mahasiswa Teknik Informatika 2019 yang sedang menjalani semester 3 yang bahagia di Institut Teknologi Bandung. Doakan kami lulus ya‼️ :) 
        (foto) Nama - NIM. </p>  
    </div>
</div>

{% endblock %}
