{% extends 'base.html' %}

{% block head %}
<title>Unggah Dokumen</title>
{% endblock %}

{% block body %}
<div style="margin-top: 250px;">
    <div style="width:500px;height:50px;border:1px solid #000;background-color: #000;border-radius: 10px; color:white; text-align: center;line-height: 50px;margin: auto;">
    Pilih dokumen yang akan diunggah
    </div>
    
    <div style="width:500px;height:230px;border:1px solid rgb(255, 255, 255);margin: auto;">
    
        <div style="padding-top: 10px;">
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div style="margin: auto; text-align: center;">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </p>
        
        <p style="text-align: center;">Dokumen dalam ekstensi txt dan html </p>
        
        <div>
            <form method="post" action="/unggah" enctype="multipart/form-data">
                <div> 
                    <div style="margin-bottom: 15px; text-align: center;">
                        <div > 
                            <input type="file" name="files[]" multiple="true" autocomplete="off" required> 
                        </div>
                    </div>
                    <div class="row text-center" style="padding-left: 20px;padding-right: 20px;text-align: center;">
                        <input type="submit" value="Unggah" class="btn btn-lg btn-block btn-success" style="border-radius: 3px;">
                    </div>                                            
                </div>
                <p style="text-align: center;padding-top: 10px;">atau ambil dokumen dari <a href="{{ url_for('pranala') }}">internet (dengan url)</a></p>
        </div>
</div>
{% endblock %}