{% extends 'base.html' %}

{% block head %}
<title>Perihal</title>
{% endblock %}

{% block body %}
<div class="content" style="max-width:2000px;margin-top:65px">
  <h1 style="text-align: center"> Perihal</h1>
    <div class="content" style="max-width:2000px;margin-left:15px">
      <h2>Search Engine</h2>
      <p>
        Ini adalah search engine.
        Mudah banget tubesnya, terimakasih.
      </p>
      <h2>How to Use</h2>
      <p>
        Klik klik ajaaa.
      </p>
      <h2>About Us</h2>    
      <p>
        Kami adalah KAMI.
      </p>  
    </div>
</div>
{% endblock %}
